a {
  text-decoration: none;
}

h1 {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 30px;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 24px;
    color: #34373e;
    font-weight: normal;
    line-height: 1.2em;
    font-family: 'Roboto',sans-serif !important;
}

#category {
    font-family: 'Roboto',sans-serif !important;
    font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  
  height: 350px;
}
.uk-container-small ul {
    list-style-type: circle;
    /* color: #5e9efc; */
    font-weight: 550;
}
@media (min-width: 960px) {
    .uk-section {
        padding-top: 20px !important;
        padding-bottom: 40px !important;
    }
}
#banner h1 {
    margin-top: 60px;
}
.uk-section h3 {
    color: #5e9efc;
}
#editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

.uk-navbar-container {
    background: #fff !important;
    font-family: 'Roboto',sans-serif !important;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.red-bg {
    background: url(https://res.cloudinary.com/mavin-infotech/image/upload/v1626694329/red_bg_b5b220571d.jpg) center no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.features-14 .heading {
    text-align: center;
    color: #e2e1e1;
    padding: 0px;
    margin: 0;
    border-bottom:none;
}
.aboutus {
    background: #608bfd;
}
.aboutus:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 80px solid #fff;
        border-left: 80px solid #c4161c;
        width: 0;
    }
.list-style ul {
    color: white;
    padding: 20px;
    font-size: 17px;
    
}
.list-style {
    text-align: center;
}
    .list-style h3 {
        padding: 10px;
        color: black;
        padding-bottom: 0px;
        font-size:2rem!important;
}
    p {
        text-align:justify;
    }
.uk-section h1 {
    margin-top:20px;
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .dropdown-menu li {
        border-bottom: 1px solid #eee;
        text-transform: capitalize;
    }

        .dropdown-menu li a {
            padding: 10px 20px;
            text-transform: capitalize;
        }

    .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
        /* left: auto; */
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 1px;
        min-width: 260px;
    }
}
.carousel-inner .item_sub {
    height: 550px !important;
}

.carousel-caption {
    right: 10% !important;
    left: 10% !important;
    padding-bottom: 10px !important;
}

    .carousel-caption ul li {
        font-size: 16px;
        text-align: left;
        list-style-type: circle;
    }

    .carousel-caption ul {
        margin-left: 15%;
    }
.carousel-control.left, .carousel-control.right {
    top: 50%;
    color: #627aff;
    font-size: 30px;
}
.contact-item .fa {
    font-weight: 700;
    color: #627aff;
}

#contacts h4 {
    color: #627aff;
    margin-top: -10px;
    font-size: 17px;
}

.contact-info p {
    margin-bottom: 5px;
}

#contacts iframe {
    width: 100%;
}

.dashed-item {
    margin-bottom: 20px !important;
    border-bottom: 1px dashed #627aff;
}
#contacts, .App #testimonials23, .job_detail {
    margin-top: 80px;
}
#contacts #contact .social i.fa {
        border: 2px solid #1e6ea6!important;
        color: #1e6ea6!important;
    }
    #contacts #contact {
        BACKGROUND: NONE !important;
        PADDING: 0PX !important;
    }
        #contacts #contact .social {
            padding-top: 0px !important;
        }
.testimonial:hover {
    background-color: #5f99fd;
}

.testimonial-meta h1 {
    border-bottom: none !important;
    margin: 0 0 0px !important;
}

.job-ref-label {
    font-weight: bold;
    border-bottom: 1px dashed rgba(188, 188, 188, 0.69);
    padding: 10px 0px;
    font-size: 17px;
    color: #5f99fd;
    margin-bottom: 10px;
}
body, h1, h2, h3, h4, h5, h6, p, li, span, a {
    font-family: Lato,sans-serif !important;
}
@media only screen and (max-width: 600px) {
    .small-image {
        display: none;
    }

    #myCarousel {
        margin-top: 80px;
    }
}