a {
  text-decoration: none;
}
.item_sub1 {
    display: none !important;
}
h1 {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 30px;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 24px;
    color: #34373e;
    font-weight: normal;
    line-height: 1.2em;
    font-family: 'Roboto',sans-serif !important;
}

#category {
    font-family: 'Roboto',sans-serif !important;
    font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  
  height: 350px;
}
.uk-container-small ul {
    list-style-type: circle;
    /* color: #5e9efc; */
    font-weight: 550;
}
@media (min-width: 960px) {
    .uk-section {
        padding-top: 0px !important;
        padding-bottom: 20px !important;
    }
}
#banner h1 {
    margin-top: 60px;
    text-align: center;
    background-color: #5e9efc;
    padding: 15px;
}
.uk-section h3 {
    color: #5e9efc;
}
#editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

.uk-navbar-container {
    background: #fff !important;
    font-family: 'Roboto',sans-serif !important;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.red-bg {
    background: url(https://res.cloudinary.com/mavin-infotech/image/upload/v1626694329/red_bg_b5b220571d.jpg) center no-repeat;
    background-size: cover;
    padding: 30px 0;
}
.red-bg h1 a {
    background-color: #323232;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.features-14 .heading {
    text-align: center;
    color: #e2e1e1;
    padding: 0;
    margin: 0;
    font-size: 27px;
    border-bottom: none;
    text-transform: capitalize;
}
.aboutus {
    background: #608bfd;
}
.aboutus:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 80px solid #fff;
        border-left: 80px solid #c4161c;
        width: 0;
    }
.list-style ul {
    color: white;
    list-style-type: circle;
    padding: 0px 20px 20px 20px;
    font-size: 17px;
    float: left;
    text-align: left;
    color: #fff;
    padding: 0px 30px 20px;
    font-size: 19px;
    margin-top: 0px;
}
.service-desc h3 {
    margin-bottom: 0px;
}
.list-style {
    text-align: center;
}
    .list-style h3 {
        padding: 10px;
        color: black;
        padding-bottom: 0px;
        font-size:2rem!important;
}
    p {
        text-align:justify;
    }
.uk-section h1 {
    margin: 0 0 10px!important;
}
@media screen and (orientation:landscape) and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .dropdown-menu li {
        border-bottom: 1px solid #eee;
        text-transform: capitalize;
    }

        .dropdown-menu li a {
            padding: 10px 20px;
            text-transform: capitalize;
        }

    .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
        /* left: auto; */
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 1px;
        min-width: 260px;
    }
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .dropdown-menu li {
        border-bottom: 1px solid #eee;
        text-transform: capitalize;
    }

        .dropdown-menu li a {
            padding: 10px 20px;
            text-transform: capitalize;
        }

    .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
        /* left: auto; */
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 1px;
        min-width: 260px;
    }
}
.carousel-inner .item_sub {
    height: 550px !important;
}

.carousel-caption {
    right: 10% !important;
    left: 10% !important;
    padding-bottom: 0px !important;
}

    .carousel-caption ul li {
        font-size: 16px;
        text-align: left;
        list-style-type: circle;
    }

    .carousel-caption ul {
        margin-left: 15%;
    }
.carousel-control.left, .carousel-control.right {
    top: 50%;
    color: #627aff;
    font-size: 30px;
}
.contact-item .fa {
    font-weight: 700;
    color: #627aff;
}

#contacts h4 {
    color: #627aff;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.contact-info p {
    margin-bottom: 5px;
}
#myCarousel .fa {
    font: normal normal normal 30px/1 FontAwesome !important;
}

#contacts iframe {
    width: 100%;
}

.dashed-item {
    margin-bottom: 20px !important;
    border-bottom: 1px dashed #627aff;
}
#contacts, .App #testimonials23, .job_detail {
    margin-top: 80px;
}
#contacts #contact .social i.fa {
        border: 2px solid #1e6ea6!important;
        color: #1e6ea6!important;
    }
    #contacts #contact {
        BACKGROUND: NONE !important;
        PADDING: 0PX !important;
    }
        #contacts #contact .social {
            padding-top: 0px !important;
        }
.testimonial:hover {
    background-color: #5f99fd;
}

.testimonial-meta h1 {
    border-bottom: none !important;
    margin: 0 0 0px !important;
}

.job-ref-label {
    font-weight: bold;
    border-bottom: 1px dashed rgba(188, 188, 188, 0.69);
    padding: 10px 0px;
    font-size: 17px;
    color: #5f99fd;
    margin-bottom: 10px;
}
body, h1, h2, h3, h4, h5, h6, p, li, span, a {
    font-family: Lato,sans-serif !important;
}
    @media screen and (orientation:landscape) and (min-width: 481px) and (max-width: 823px) {
        #features p {
            text-align: center !important;
        }

        .intro h1 {
            font-size: 40px !important;
        }

        .navbar-fixed-top .navbar-collapse {
            max-height: 220px !important;
        }

        .carousel-inner .item_sub {
            height: 470px !important;
        }

        .item_sub {
            display: none !important;
        }

        .item_sub2 {
            display: block !important;
        }

        .carousel-inner .item_sub1 {
            height: 330px !important;
            width: 100%;
        }

        .uk-section {
            padding-top: 5px !important;
            padding-bottom: 20px !important;
        }

        .small-image {
            display: none;
        }

        #footer li img {
            display: none;
        }

        .modal-content {
            height: 700px !important;
        }

        #footer button img {
            width: 20px !important;
            height: 25px !important;
        }

        #footer a img {
            width: auto !important;
            height: auto !important;
        }

        .duns {
            margin-top: 5px !important;
        }

        #myCarousel {
            margin-top: 80px;
        }

        .about-text {
            margin-top: 20px;
        }

        #about {
            padding-bottom: 0px;
        }

        .dropdown:hover > .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            display: none;
        }

        .navbar .nav-item:hover .nav-link {
        }

        .navbar .nav-item:hover .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 0;
        }

        .dropdown-menu li {
            border-bottom: 1px solid #eee;
            text-transform: capitalize;
        }

            .dropdown-menu li a {
                padding: 10px 20px;
                text-transform: capitalize;
            }

        .navbar-right .dropdown-menu {
            left: 0;
            right: auto;
            /* left: auto; */
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 3px;
            min-width: 260px;
        }
    }
    @media only screen and (max-width: 600px) {
        .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
            max-height: 362px !important;
        }
        .intro h1 {
            font-size: 40px !important;
        }

        .carousel-inner .item_sub {
            height: 470px !important;
        }

        .item_sub {
            display: none !important;
        }

        .item_sub2 {
            display: block !important;
        }

        .carousel-inner .item_sub1 {
            height: 470px !important;
            width: 100%;
        }

        .uk-section {
            padding-top: 5px !important;
            padding-bottom: 20px !important;
        }

        .small-image {
            display: none;
        }

        #footer li img {
            display: none;
        }

        .modal-content {
            height: 700px !important;
        }

        #footer button img {
            width: 20px !important;
            height: 25px !important;
        }

        #footer a img {
            width: auto !important;
            height: auto !important;
        }

        .duns {
            margin-top: 5px !important;
        }

        #myCarousel {
            margin-top: 80px;
        }

        .about-text {
            margin-top: 20px;
        }

        #about {
            padding-bottom: 0px;
        }

        .dropdown:hover > .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            display: none;
        }

        .navbar .nav-item:hover .nav-link {
        }

        .navbar .nav-item:hover .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 0;
        }

        .dropdown-menu li {
            border-bottom: 1px solid #eee;
            text-transform: capitalize;
        }

            .dropdown-menu li a {
                padding: 10px 20px;
                text-transform: capitalize;
            }

        .navbar-right .dropdown-menu {
            left: 0;
            right: auto;
            /* left: auto; */
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 3px;
            min-width: 260px;
        }
    }

    #features h3 {
        margin-top: 10px;
    }

    .uk-container h3 {
        margin-bottom: 7px !important;
    }

    .uk-container p {
        margin-top: 7px !important;
    }

    .uk-container-small h3 {
        margin-top: 0px !important;
    }

    #footer p {
        margin: 0px;
    }

    .hover-bg p {
        text-align: center;
    }

    #services p {
        margin: 5px !important;
    }

    .uk-margin {
        margin-bottom: 10px !important;
    }

    #contact ul {
        margin: 0px 0 0px 0;
    }

    .conatct-page {
        margin-bottom: 10px;
        float: left;
    }

        .conatct-page ul {
            padding-left: 0px !important;
        }

    #contact-us1, #consulting1 {
        display: none;
    }

    .uk-container-small h5 {
        margin: 10px 0px 10px 0px;
    }

    .blue-bg {
        background-color: #5e9efc;
    }

        .blue-bg .heading {
            color: black;
        }

    .heading h1 {
        margin: 0px !important;
        border-bottom: none !important;
        color: white !important;
    }

    #footer li {
        float: left;
        padding: 5px;
    }

    #footer p {
        margin-top: 25px;
    }

    #footer img {
        width: 130px;
        height: 50px;
    }

    #footer .text-center {
        width: auto !important;
        float: right;
    }

    .login-icon {
        width: auto !important;
        float: left;
    }

        .login-icon img {
            width: auto !important;
        }

    .accordion-inner {
        padding: 9px 15px;
        display: block;
        float: left !important;
        width: 257px;
        clear: none !important;
    }

    .white_content h5 {
        background-color: #7c7c7c;
        padding: 10px;
        color: #fff;
        font-weight: 400;
        letter-spacing: .5px;
        text-align: center;
    }

    .white_content input[type=submit]:hover, .white_content input[type=button]:hover {
        background: #7c7c7c;
        color: #fff;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
    }

    .white_content input[type=submit], .white_content input[type=button] {
        background: #5e9efc;
        color: #fff;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
    }

    #button {
        cursor: pointer;
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: #f2f2f2;
        border-color: #e8e8e8 #e8e8e8 #fff;
        border-image: none;
        border-radius: 0;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 5%) inset;
        color: #595959;
        font-family: 'Open Sans',sans-serif;
        font-size: 12px;
        margin: 0;
        padding: 5px 10px;
        width: 100%;
    }

    .white_content input {
        width: 100%;
        margin-bottom: 5px !important;
    }

    #footer a {
        color: #5e9efc;
        font-size: 14px;
        /* color: #000; */
        line-height: 20px;
    }

    .modal-body {
        position: relative;
        padding: 15px;
        margin-top: -6px;
    }

    .modal-content {
        height: 520px;
    }

    .close {
        opacity: 0.8;
    }

    .modal-header {
        padding: 5px;
        border-bottom: none;
    }

        .modal-header .close {
            background: #5e9efc;
            padding: 3px 10px;
            font-size: 20px;
            font-weight: 500;
            /* margin-right: -28px; */
            /* margin-top: -30px; */
            float: right;
            color: #FFF;
        }

    .login-icon {
        background: none;
    }

    .arabia {
        width: 164px !important;
    }

    .iso {
        width: 98px !important;
    }

    .msme {
        width: 97px !important;
    }

    .we {
        width: 121px !important;
    }

    .small {
        width: 129px !important;
    }

    .duns {
        color: black;
        font-weight: bold;
        margin-top: 15px;
    }

  